/*
 * The over-rides that transform the twitter bootstrap
 * into a modernism(flat) Ux/UI framework
 */


/*
 * set for no modification of corners
 */

* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}
.btn {
  border-radius:                    0px;
  -webkit-border-radius:            0px;
  -moz-border-radius:               0px;
}


/*
 * basefont for site
 */
html {
  font-family: 'RobotoMedium';
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  
  font-size: 14px;
  
}

code,
kbd,
pre,
samp {
  font-family: 'RobotoThin';
  font-size: 1em;
}

code,
pre {
  padding: 0 3px 2px;
  font-family: 'RobotoThinItalic';
  font-size: 12px;
  color: #333333;
  border-radius: 0px;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  
  border-radius: 0px;
  
}

select.input-large,
textarea.input-large,
input[type="text"].input-large,
input[type="password"].input-large,
input[type="datetime"].input-large,
input[type="datetime-local"].input-large,
input[type="date"].input-large,
input[type="month"].input-large,
input[type="time"].input-large,
input[type="week"].input-large,
input[type="number"].input-large,
input[type="email"].input-large,
input[type="url"].input-large,
input[type="search"].input-large,
input[type="tel"].input-large,
input[type="color"].input-large {
  
  border-radius: 0px;
}

select.input-small,
textarea.input-small,
input[type="text"].input-small,
input[type="password"].input-small,
input[type="datetime"].input-small,
input[type="datetime-local"].input-small,
input[type="date"].input-small,
input[type="month"].input-small,
input[type="time"].input-small,
input[type="week"].input-small,
input[type="number"].input-small,
input[type="email"].input-small,
input[type="url"].input-small,
input[type="search"].input-small,
input[type="tel"].input-small,
input[type="color"].input-small {
  
  border-radius: 0px;
}

.input-group-addon {
  
  border-radius: 0px;
  
}

.input-group-addon.input-small {
  
  border-radius: 0px;
}

.input-group-addon.input-large {
  
  border-radius: 0px;
}

.input-group input:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .dropdown-toggle,
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-large {
  
  border-radius: 0px;
}

.btn-small {
  
  border-radius: 0px;
}

.list-group-item:first-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.panel-heading {
  
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.panel-footer {
  
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.list-group-flush .list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.well {
  
  border-radius: 0px;
  
}

.well-large {
  
  border-radius: 0px;
}

.well-small {
  
  border-radius: 0px;
}

.nav-tabs > li > a {
  
  border-radius:  0;
}

.nav-pills > li > a {
  border-radius: 0px;
}

.nav-tabs .dropdown-menu {
  
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.navbar {
  
  border-radius: 0px;
}

.navbar-nav > li > a {
  
  border-radius: 0px;
}

.navbar-toggle .icon-bar {
  
  border-radius: 0px;
}

.breadcrumb {
  
  border-radius: 0px;
}

.pagination {
  
  border-radius: 0px;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.pagination-small > li:first-child > a,
.pagination-small > li:first-child > span {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

.pagination-small > li:last-child > a,
.pagination-small > li:last-child > span {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.pager li > a,
.pager li > span {
  
  border-radius: 0px;
}

.modal-content {
  
  border-radius: 0px;
  
}

.tooltip-inner {
  
  border-radius: 0px;
}

.popover-title {
  
  border-radius:  0;
}

.alert {
  
  border-radius: 0px;
}

.thumbnail,
.img-thumbnail {
  
  border-radius: 0px;
  
}

.label {
  
  
  border-radius: 0;
}

.badge {
  
  border-radius: 0px;
}

.progress {
  
  border-radius: 0px;
  
}

.accordion-group {
  
  border-radius: 0px;
}

.carousel-indicators li {
  
  border-radius: 0px;
}