/*
 * Site style
 */

.container {
    margin: 0 auto;
    max-width: 800px;
    background-color: #FFFFFF;
}

a{
    color: #0000CD;
}

.well-blog {
   background-color: #FFFAFA;
   color: #000020;
   border-color: #3b509b;
   
}



.well-folio {

   background-color: #E0FFFF;
   color: #000020;
   border-color: #191970;
  
}

.well-hacking {

  background-color: #DDDDDD;
   color: #000020;
   border-color: #191970;
 }
 
.well-bio {
   background-color: #EEEEEE;
   color: #000020;
   border-color: #191970;
}

.well-research{
    background-color: #B0E0E6;
   color: #000020;
   border-color: #191970;
}

.well-tags{
    background-color: #FFFAFA;
   color: #000020;
   border-color: #3b509b;
}

.well-social{
    background-color: #ECF0F1;
   color: #000020;
   border-color: #191970;
}

.well-footer{
     background-color: #ECF0F1;
   color: #000020;
   border-color: #191970;
}

.well-page-header{
    background: rgb(94,224,249); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(94,224,249,1) 0%, rgba(94,224,249,1) 2%, rgba(1,36,71,1) 2%, rgba(1,36,71,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(94,224,249,1)), color-stop(2%,rgba(94,224,249,1)), color-stop(2%,rgba(1,36,71,1)), color-stop(100%,rgba(1,36,71,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(94,224,249,1) 0%,rgba(94,224,249,1) 2%,rgba(1,36,71,1) 2%,rgba(1,36,71,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(94,224,249,1) 0%,rgba(94,224,249,1) 2%,rgba(1,36,71,1) 2%,rgba(1,36,71,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(94,224,249,1) 0%,rgba(94,224,249,1) 2%,rgba(1,36,71,1) 2%,rgba(1,36,71,1) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(94,224,249,1) 0%,rgba(94,224,249,1) 2%,rgba(1,36,71,1) 2%,rgba(1,36,71,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5ee0f9', endColorstr='#012447',GradientType=1 ); /* IE6-9 */

    color: #CCCCCC;
    border-color: #000000;
}

.well-post-header{
    background: rgb(94,224,249); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(94,224,249,1) 0%, rgba(94,224,249,1) 2%, rgba(1,36,71,1) 2%, rgba(1,36,71,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(94,224,249,1)), color-stop(2%,rgba(94,224,249,1)), color-stop(2%,rgba(1,36,71,1)), color-stop(100%,rgba(1,36,71,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(94,224,249,1) 0%,rgba(94,224,249,1) 2%,rgba(1,36,71,1) 2%,rgba(1,36,71,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(94,224,249,1) 0%,rgba(94,224,249,1) 2%,rgba(1,36,71,1) 2%,rgba(1,36,71,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(94,224,249,1) 0%,rgba(94,224,249,1) 2%,rgba(1,36,71,1) 2%,rgba(1,36,71,1) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(94,224,249,1) 0%,rgba(94,224,249,1) 2%,rgba(1,36,71,1) 2%,rgba(1,36,71,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5ee0f9', endColorstr='#012447',GradientType=1 ); /* IE6-9 */

    color: #C0C0C0;
    border-color: #000000;
}
.well-post-date{
    background: rgb(94,224,249); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(94,224,249,1) 0%, rgba(94,224,249,1) 2%, rgba(1,36,71,1) 2%, rgba(1,36,71,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(94,224,249,1)), color-stop(2%,rgba(94,224,249,1)), color-stop(2%,rgba(1,36,71,1)), color-stop(100%,rgba(1,36,71,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(94,224,249,1) 0%,rgba(94,224,249,1) 2%,rgba(1,36,71,1) 2%,rgba(1,36,71,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(94,224,249,1) 0%,rgba(94,224,249,1) 2%,rgba(1,36,71,1) 2%,rgba(1,36,71,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(94,224,249,1) 0%,rgba(94,224,249,1) 2%,rgba(1,36,71,1) 2%,rgba(1,36,71,1) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(94,224,249,1) 0%,rgba(94,224,249,1) 2%,rgba(1,36,71,1) 2%,rgba(1,36,71,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5ee0f9', endColorstr='#012447',GradientType=1 ); /* IE6-9 */

    color: #CCCCCC;
    border-color:#000000;
}
