<!DOCTYPE html>
<html lang="en" xmlns:fb="http://ogp.me/ns/fb#">
  <head>
  <!-- head include-->
  {% include themes/modernism/head.html %}
  </head>
  <body>
  
  <div class="container">
    <div class="row">
      <!-- content -->
    <div class="col col-lg-12" >
       <h1><a href="/index.html"><img src="{{ ASSET_PATH }}/img/grottworkshopsmalllogox100x100.png"/>GrottWorkShop</a></h1>
       <div class="content">
       {{ content }}
       </div>
       <!-- footer -->   
        <footer class="well well-footer footer">
          {% include  themes/modernism/footer-colophon.html %}
        </footer>  
     </div><!-- end column -->
   </div> <!-- end row -->
   </div> <!-- end container --> 
    
      <!-- footer js includes -->
      {% include themes/modernism/footer-includes.html %}
    
  
  
  
</body>
</html>