<div class="row">
  <div class="col col-lg-12">
    <div class="well well-post-header post-header">
     <h1>{{ page.title }} {% if page.tagline %}<small>{{page.tagline}}</small>{% endif %}</h1>
    </div>
    <div class="well well-post-date post-date">
      <span>{{ page.date | date_to_long_string }}</span>
    </div>
  </div>
</div>

<div class="row">
  <div class="col col-lg-12">
   
    <div class="well well-post-content post-content">
      {{ content }}
      {% assign post = page % %}
      {% include JB/posttaglist %}
    </div>

  

    
    
  </div>
</div>