<div class="bs-social">

  <ul class="follow-buttons nav navbar-nav nav-justified">
   <li><a href="http://www.facebook.com/fred.grott" target="_blank" class="icon-facebook"></a>
   <li><a href="https://plus.google.com/u/0/114301140286672625486" target="_blank" class="icon-google"></a>
   <li><a href="http://www.twitter.com/fredgrott" target="_blank" class="icon-twitter"></a>
   <li><a href="http://www.linkedin.com/in/shareme" target="_blank" class="icon-linkedin"></a> 
  </ul>
  <ul class="follow-buttons nav navbar-nav nav-justified">
   <li><a href="./atom.xml" target="_blank" class="icon-rss"></a>
   <li><a href="http://forrst.me/fredgrott" target="_blank" class="icon-forrst"></a>
   <li><a href="http://www.behance.net/gwsfredgrott" target="_blank" class="icon-behance"></a>
   <li><a href="https://github.com/shareme" target="_blank" class="icon-github_alt"></a>
  </ul>
</div>