<div id="footer">
  <p>
    <a href="http://validator.w3.org/check?uri=referer"><img alt="Valid XHTML 1.1" src="/images/icons/xhtml.png" /></a>
    <a href="http://jigsaw.w3.org/css-validator/check/referer"><img alt="Valid CSS" src="/images/icons/css.png" /></a>
    <a href="http://www.catb.org/hacker-emblem"><img alt="Hacker Emblem" src="/images/icons/hacker.png" /></a>
    <a href="http://www.eclipse.org"><img alt="Eclipse IDE" src="images/icons/eclipse_web_badge.png" /></a>
    <a href="http://creativecommons.org/licenses/by-nc-sa/2.0/">
      <img alt="Creative Commons License" src="/images/icons/copyleft.png" />
    </a>
  </p>
  <p>Copyright &copy; 2010-2011 <a href="http://shareme.github.com">Fred Grott</a></p>
</div>
