/*   Fred Grott

     1.1.1

     0 iphone-x notch adjustment
     1 font assignments
     2 preload
     3 main
*/

/* 0 iphone-x notch adjustment */
@supports(padding: max(0px)){
   body{
     padding: env(safe-area-insert-top) env(safe-area-insert-right) env(safe-area-insert-left) env(safe-insert-bottom);
   }
}
/* 1 font assignments */
body{
  font-family: 'Roboto Condensed', sans-serif;



}
.card h1.card-title,
.card h2.card-title,
.card h3.card-title,
.card h4.card-title,
.card h5.card-title,
.card h6.card-title {
  font-family: 'Roboto Slab',serif;
  text-shadow: 0px 8px 8px rgba(140, 158, 255, 0.65);
  color: #1a237e;
  font-weight: bold;
}
.card-subtitle {
  font-family: 'Roboto Condensed',sans-serif;
  font-weight: 500;
}
.footer-copyright-text{
  font-family: 'Roboto Condensed',sans-serif;
}
blockquote{
  font-family: 'Roboto Condensed',sans-serif;
  font-style: italic;
  background-color: #c5cae9;
  padding: 1rem;
}
ul{
  font-family: 'Roboto Condensed',sans-serif;
}

/* 2 preload */
.preload * {
-webkit-transition: none !important;
-moz-transition: none !important;
-ms-transition: none !important;
-o-transition: none !important;
   transition: none !important;
}


/* 3 main */
.card-box-shadow-none{
  border: 0;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.0), 0 3px 1px -2px rgba(0, 0, 0, 0.0), 0 1px 5px 0 rgba(0, 0, 0, 0.0);
}
ul li{
  padding-top: 0.15rem;
  padding-bottom: 0.25rem;
  padding-left: 1rem;
}
ul{
  background-color: rgba(140, 158, 255, 0.22);
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}
