/*
    0 Colors
*/


/* 0 Colors */

/* reds */
[data-background-color="redlightenfive"] {
    background-color: #ffebee !important;
}
[data-foreground-color="redlightentfive"]{
  color: #ffebee !important;
}
[data-background-color="redlightenfour"] {
    background-color: #ffcdd2 !important;
}
[data-foregroung-color="redlightenfour"]{
  color: #ffcdd2 !important;
}
[data-background-color="redlightenthree"] {
    background-color: #ef9a9a !important;
}
[data-foreground-color="redlightenthree"]{
  color:  #ef9a9a !important;
}
[data-background-color="redlightentwo"] {
    background-color: #e57373 !important;
}
[data-foreground-color="redlightentwo"]{
  color: #e57373 !important;
}
[data-background-color="redlightenone"] {
    background-color: #ef5350 !important;
}
[data-foreground-color="redlightenone"]{
  color: #ef5350 !important;
}
[data-background-color="redbase"] {
    background-color: #f44336 !important;
}
[data-foreground-color="redbase"]{
  color:  #f44336 !important;
}
[data-background-color="reddarkenone"] {
    background-color: #e53935 !important;
}
[data-foreground-color="reddarkenone"]{
  color: #e53935 !important;
}
[data-background-color="reddarkentwo"] {
    background-color: #d32f2f !important;
}
[data-foreground-color="reddarkentwo"]{
  color: #d32f2f !important;
}
[data-background-color="reddarkenthree"] {
    background-color: #c62828 !important;
}
[data-foreground-color="reddarkenthree"]{
  color: #c62828 !important;
}
[data-background-color="reddarkenfour"] {
    background-color: #b71c1c !important;
}
[data-foreground-color="reddarkenfour"]{
  color: #b71c1c !important;
}
[data-background-color="redaccentone"] {
    background-color: #ff8a80 !important;
}
[data-foreground-color="redaccentone"]{
  color: #ff8a80 !important;
}
[data-background-color="redaccenttwo"] {
    background-color: #ff5252 !important;
}
[data-foreground-color="redaccenttwo"]{
  color: #ff5252 !important;
}
[data-background-color="redaccentthree"] {
    background-color: #ff1744 !important;
}
[data-foreground-color="redaccentthree"]{
  color: #ff1744 !important;
}
[data-background-color="redaccentfour"] {
    background-color: #d50000 !important;
}
[data-foreground-color="redaccentfour"]{
  color: #d50000 !important;
}

/* pinks */
[data-background-color="pinklightenfive"] {
    background-color: #fce4ec !important;
}
[data-foregroung-color="pinklightentfive"]{
  color: #fce4ec !important;
}
[data-background-color="pinklightenfour"] {
    background-color: #f8bbd0 !important;
}
[data-foreground-color="pinklightenfour"]{
  color: #f8bbd0 !important;
}
[data-background-color="pinklightenthree"] {
    background-color: #f48fb1 !important;
}
[data-foreground-color="pinklightenthree"]{
  color:  #f48fb1 !important;
}
[data-background-color="pinklightentwo"] {
    background-color: #f06292 !important;
}
[data-foreground-color="pinklightentwo"]{
  color: #f06292 !important;
}
[data-background-color="pinklightenone"] {
    background-color: #ec407a  !important;
}
[data-foreground-color="pinklightenone"]{
  color: #ec407a  !important;
}
[data-background-color="pinkbase"] {
    background-color: #e91e63 !important;
}
[data-foreground-color="pinkbase"]{
  color:  #e91e63 !important;
}
[data-background-color="pinkdarkenone"] {
    background-color: #d81b60  !important;
}
[data-foreground-color="pinkdarkenone"]{
  color: #d81b60  !important;
}
[data-background-color="pinkdarkentwo"] {
    background-color: #c2185b !important;
}
[data-foreground-color="pinkdarkentwo"]{
  color: #c2185b !important;
}
[data-background-color="pinkdarkenthree"] {
    background-color: #ad1457 !important;
}
[data-foreground-color="pinkdarkenthree"]{
  color: #ad1457 !important;
}
[data-background-color="pinkdarkenfour"] {
    background-color: #880e4f  !important;
}
[data-foreground-color="pinkdarkenfour"]{
  color: #880e4f  !important;
}
[data-background-color="pinkaccentone"] {
    background-color: #ff80ab !important;
}
[data-foreground-color="pinkaccentone"]{
  color: #ff80ab !important;
}
[data-background-color="pinkaccenttwo"] {
    background-color: #ff4081 !important;
}
[data-foreground-color="pinkaccenttwo"]{
  color: #ff4081 !important;
}
[data-background-color="pinkaccentthree"] {
    background-color:#f50057 !important;
}
[data-foreground-color="pinkaccentthree"]{
  color: #f50057 !important;
}
[data-background-color="pinkaccentfour"] {
    background-color: #c51162 !important;
}
[data-foreground-color="pinkaccentfour"]{
  color: #c51162 !important;
}

/* purples */
[data-background-color="purplelightenfive"] {
    background-color: #f3e5f5 !important;
}
[data-foregroung-color="purplelightentfive"]{
  color: #f3e5f5 !important;
}
[data-background-color="purplelightenfour"] {
    background-color: #e1bee7 !important;
}
[data-foreground-color="purplelightenfour"]{
  color: #e1bee7 !important;
}
[data-background-color="purplelightenthree"] {
    background-color: #ce93d8  !important;
}
[data-foreground-color="purplelightenthree"]{
  color:  #ce93d8  !important;
}
[data-background-color="purplelightentwo"] {
    background-color: #ba68c8 !important;
}
[data-foreground-color="purplelightentwo"]{
  color: #ba68c8 !important;
}
[data-background-color="purplelightenone"] {
    background-color: #ab47bc  !important;
}
[data-foreground-color="purplelightenone"]{
  color: #ab47bc !important;
}
[data-background-color="purplebase"] {
    background-color: #9c27b0 !important;
}
[data-foreground-color="purplebase"]{
  color:  #9c27b0 !important;
}
[data-background-color="purpledarkenone"] {
    background-color: #8e24aa !important;
}
[data-foreground-color="purpledarkenone"]{
  color: #8e24aa  !important;
}
[data-background-color="purpledarkentwo"] {
    background-color: #7b1fa2 !important;
}
[data-foreground-color="purpledarkentwo"]{
  color: #7b1fa2 !important;
}
[data-background-color="purpledarkenthree"] {
    background-color: #6a1b9a  !important;
}
[data-foreground-color="purpledarkenthree"]{
  color: #6a1b9a  !important;
}
[data-background-color="purpledarkenfour"] {
    background-color: #4a148c  !important;
}
[data-foreground-color="purpledarkenfour"]{
  color: #4a148c !important;
}
[data-background-color="purpleaccentone"] {
    background-color: #ea80fc !important;
}
[data-foreground-color="purpleaccentone"]{
  color: #ea80fc !important;
}
[data-background-color="purpleaccenttwo"] {
    background-color: #e040fb !important;
}
[data-foreground-color="purpleaccenttwo"]{
  color: #e040fb !important;
}
[data-background-color="purpleaccentthree"] {
    background-color:#d500f9 !important;
}
[data-foreground-color="purpleaccentthree"]{
  color: #d500f9 !important;
}
[data-background-color="purpleaccentfour"] {
    background-color: #aa00ff  !important;
}
[data-foreground-color="purpleaccentfour"]{
  color: #aa00ff  !important;
}


/* deep purples */
[data-background-color="deeppurplelightenfive"] {
    background-color: #ede7f6 !important;
}
[data-foregroung-color="deeppurplelightentfive"]{
  color:#ede7f6 !important;
}
[data-background-color="deeppurplelightenfour"] {
    background-color:#d1c4e9  !important;
}
[data-foreground-color="deeppurplelightenfour"]{
  color: #d1c4e9  !important;
}
[data-background-color="deeppurplelightenthree"] {
    background-color: #b39ddb !important;
}
[data-foreground-color="deeppurplelightenthree"]{
  color:  #b39ddb  !important;
}
[data-background-color="deeppurplelightentwo"] {
    background-color: #9575cd !important;
}
[data-foreground-color="deeppurplelightentwo"]{
  color: #9575cd !important;
}
[data-background-color="deeppurplelightenone"] {
    background-color:#7e57c2 !important;
}
[data-foreground-color="deeppurplelightenone"]{
  color: #7e57c2 !important;
}
[data-background-color="deeppurplebase"] {
    background-color: #673ab7 !important;
}
[data-foreground-color="deeppurplebase"]{
  color:  #673ab7 !important;
}
[data-background-color="deeppurpledarkenone"] {
    background-color: #5e35b1  !important;
}
[data-foreground-color="deeppurpledarkenone"]{
  color: #5e35b1   !important;
}
[data-background-color="deeppurpledarkentwo"] {
    background-color: #512da8 !important;
}
[data-foreground-color="deeppurpledarkentwo"]{
  color: #512da8 !important;
}
[data-background-color="deeppurpledarkenthree"] {
    background-color: #4527a0  !important;
}
[data-foreground-color="deeppurpledarkenthree"]{
  color:#4527a0  !important;
}
[data-background-color="deeppurpledarkenfour"] {
    background-color: #311b92  !important;
}
[data-foreground-color="deeppurpledarkenfour"]{
  color: #311b92 !important;
}
[data-background-color="deeppurpleaccentone"] {
    background-color: #b388ff  !important;
}
[data-foreground-color="deeppurpleaccentone"]{
  color: #b388ff  !important;
}
[data-background-color="deeppurpleaccenttwo"] {
    background-color: #7c4dff  !important;
}
[data-foreground-color="deeppurpleaccenttwo"]{
  color: #7c4dff  !important;
}
[data-background-color="deeppurpleaccentthree"] {
    background-color:#651fff !important;
}
[data-foreground-color="deeppurpleaccentthree"]{
  color: #651fff !important;
}
[data-background-color="deeppurpleaccentfour"] {
    background-color: #6200ea !important;
}
[data-foreground-color="deeppurpleaccentfour"]{
  color: #6200ea  !important;
}

/* indigos */
[data-background-color="indigolightenfive"] {
    background-color: #e8eaf6 !important;
}
[data-foregroung-color="indigolightentfive"]{
  color:#e8eaf6 !important;
}
[data-background-color="indigolightenfour"] {
    background-color:#c5cae9   !important;
}
[data-foreground-color="indigolightenfour"]{
  color: #c5cae9  !important;
}
[data-background-color="indigolightenthree"] {
    background-color: #9fa8da !important;
}
[data-foreground-color="indigolightenthree"]{
  color:  #9fa8da  !important;
}
[data-background-color="indigolightentwo"] {
    background-color: #7986cb !important;
}
[data-foreground-color="indigolightentwo"]{
  color: #7986cb !important;
}
[data-background-color="indigolightenone"] {
    background-color:#5c6bc0 !important;
}
[data-foreground-color="indigolightenone"]{
  color: #5c6bc0 !important;
}
[data-background-color="indigobase"] {
    background-color: #3f51b5 !important;
}
[data-foreground-color="indigobase"]{
  color: #3f51b5  !important;
}
[data-background-color="indigodarkenone"] {
    background-color: #3949ab  !important;
}
[data-foreground-color="indigodarkenone"]{
  color: #3949ab  !important;
}
[data-background-color="indigodarkentwo"] {
    background-color: #303f9f  !important;
}
[data-foreground-color="indigodarkentwo"]{
  color: #303f9f !important;
}
[data-background-color="indigodarkenthree"] {
    background-color: #283593  !important;
}
[data-foreground-color="indigodarkenthree"]{
  color:#283593  !important;
}
[data-background-color="indigodarkenfour"] {
    background-color: #1a237e  !important;
}
[data-foreground-color="indigodarkenfour"]{
  color: #1a237e !important;
}
[data-background-color="indigoaccentone"] {
    background-color: #8c9eff   !important;
}
[data-foreground-color="indigoaccentone"]{
  color: #8c9eff   !important;
}
[data-background-color="indigoaccenttwo"] {
    background-color: #536dfe !important;
}
[data-foreground-color="indigoaccenttwo"]{
  color: #536dfe  !important;
}
[data-background-color="indigoaccentthree"] {
    background-color:#3d5afe !important;
}
[data-foreground-color="indigoaccentthree"]{
  color: #3d5afe !important;
}
[data-background-color="indigoaccentfour"] {
    background-color: #304ffe !important;
}
[data-foreground-color="indigoaccentfour"]{
  color: #304ffe  !important;
}

/* blues */
[data-background-color="bluelightenfive"] {
    background-color: #e3f2fd !important;
}
[data-foregroung-color="bluelightentfive"]{
  color:#e3f2fd !important;
}
[data-background-color="bluelightenfour"] {
    background-color:#bbdefb   !important;
}
[data-foreground-color="bluelightenfour"]{
  color: #bbdefb !important;
}
[data-background-color="bluelightenthree"] {
    background-color: #90caf9 !important;
}
[data-foreground-color="bluelightenthree"]{
  color:  #90caf9  !important;
}
[data-background-color="bluelightentwo"] {
    background-color: #64b5f6 !important;
}
[data-foreground-color="bluelightentwo"]{
  color: #64b5f6 !important;
}
[data-background-color="bluelightenone"] {
    background-color:#42a5f5 !important;
}
[data-foreground-color="bluelightenone"]{
  color: #42a5f5 !important;
}
[data-background-color="bluebase"] {
    background-color: #2196f3 !important;
}
[data-foreground-color="bluebase"]{
  color: #2196f3  !important;
}
[data-background-color="bluedarkenone"] {
    background-color: #1e88e5  !important;
}
[data-foreground-color="bluedarkenone"]{
  color: #1e88e5  !important;
}
[data-background-color="bluedarkentwo"] {
    background-color: #1976d2  !important;
}
[data-foreground-color="bluedarkentwo"]{
  color: #1976d2 !important;
}
[data-background-color="bluedarkenthree"] {
    background-color: #1565c0   !important;
}
[data-foreground-color="bluedarkenthree"]{
  color:#1565c0  !important;
}
[data-background-color="bluedarkenfour"] {
    background-color: #0d47a1  !important;
}
[data-foreground-color="bluedarkenfour"]{
  color: #0d47a1 !important;
}
[data-background-color="blueaccentone"] {
    background-color: #82b1ff    !important;
}
[data-foreground-color="blueaccentone"]{
  color: #82b1ff   !important;
}
[data-background-color="blueaccenttwo"] {
    background-color: #448aff !important;
}
[data-foreground-color="blueaccenttwo"]{
  color: #448aff  !important;
}
[data-background-color="blueaccentthree"] {
    background-color:#2979ff !important;
}
[data-foreground-color="blueaccentthree"]{
  color: #2979ff !important;
}
[data-background-color="blueaccentfour"] {
    background-color: #2962ff !important;
}
[data-foreground-color="blueaccentfour"]{
  color: #2962ff  !important;
}

/* light blues */
[data-background-color="lightbluelightenfive"] {
    background-color: #e1f5fe !important;
}
[data-foregroung-color="lightbluelightentfive"]{
  color:#e1f5fe !important;
}
[data-background-color="lightbluelightenfour"] {
    background-color:#b3e5fc   !important;
}
[data-foreground-color="lightbluelightenfour"]{
  color: #b3e5fc !important;
}
[data-background-color="lightbluelightenthree"] {
    background-color:#81d4fa  !important;
}
[data-foreground-color="lightbluelightenthree"]{
  color:  #81d4fa   !important;
}
[data-background-color="lightbluelightentwo"] {
    background-color: #4fc3f7  !important;
}
[data-foreground-color="lightbluelightentwo"]{
  color: #4fc3f7  !important;
}
[data-background-color="lightbluelightenone"] {
    background-color:#29b6f6 !important;
}
[data-foreground-color="lightbluelightenone"]{
  color: #29b6f6 !important;
}
[data-background-color="lightbluebase"] {
    background-color: #03a9f4 !important;
}
[data-foreground-color="lightbluebase"]{
  color: #03a9f4  !important;
}
[data-background-color="lightbluedarkenone"] {
    background-color: #039be5  !important;
}
[data-foreground-color="lightbluedarkenone"]{
  color: #039be5 !important;
}
[data-background-color="lightbluedarkentwo"] {
    background-color: #0288d1  !important;
}
[data-foreground-color="lightbluedarkentwo"]{
  color: #0288d1 !important;
}
[data-background-color="lightbluedarkenthree"] {
    background-color: #0277bd   !important;
}
[data-foreground-color="lightbluedarkenthree"]{
  color:#0277bd !important;
}
[data-background-color="lightbluedarkenfour"] {
    background-color: #01579b  !important;
}
[data-foreground-color="lightbluedarkenfour"]{
  color: #01579b !important;
}
[data-background-color="lightblueaccentone"] {
    background-color: #80d8ff     !important;
}
[data-foreground-color="lightblueaccentone"]{
  color: #80d8ff    !important;
}
[data-background-color="lightblueaccenttwo"] {
    background-color: #40c4ff !important;
}
[data-foreground-color="lightblueaccenttwo"]{
  color: #40c4ff  !important;
}
[data-background-color="lightblueaccentthree"] {
    background-color:#00b0ff !important;
}
[data-foreground-color="lightblueaccentthree"]{
  color: #00b0ff !important;
}
[data-background-color="lightblueaccentfour"] {
    background-color: #0091ea  !important;
}
[data-foreground-color="lightblueaccentfour"]{
  color: #0091ea   !important;
}

/* cyans */
[data-background-color="cyanlightenfive"] {
    background-color: #e0f7fa !important;
}
[data-foregroung-color="cyanlightentfive"]{
  color:#e0f7fa !important;
}
[data-background-color="cyanlightenfour"] {
    background-color:#b2ebf2  !important;
}
[data-foreground-color="cyanlightenfour"]{
  color: #b2ebf2 !important;
}
[data-background-color="cyanlightenthree"] {
    background-color:#80deea  !important;
}
[data-foreground-color="cyanlightenthree"]{
  color:  #80deea   !important;
}
[data-background-color="cyanlightentwo"] {
    background-color: #4dd0e1  !important;
}
[data-foreground-color="cyanlightentwo"]{
  color: #4dd0e1  !important;
}
[data-background-color="cyanlightenone"] {
    background-color:#26c6da !important;
}
[data-foreground-color="cyanlightenone"]{
  color: #26c6da !important;
}
[data-background-color="cyanbase"] {
    background-color: #00bcd4 !important;
}
[data-foreground-color="cyanbase"]{
  color: #00bcd4  !important;
}
[data-background-color="cyandarkenone"] {
    background-color: #00acc1  !important;
}
[data-foreground-color="cyandarkenone"]{
  color: #00acc1 !important;
}
[data-background-color="cyandarkentwo"] {
    background-color: #0097a7  !important;
}
[data-foreground-color="cyandarkentwo"]{
  color: #0097a7 !important;
}
[data-background-color="cyandarkenthree"] {
    background-color: #00838f   !important;
}
[data-foreground-color="cyandarkenthree"]{
  color:#00838f !important;
}
[data-background-color="cyandarkenfour"] {
    background-color: #006064  !important;
}
[data-foreground-color="cyandarkenfour"]{
  color: #006064 !important;
}
[data-background-color="cyanaccentone"] {
    background-color:#84ffff    !important;
}
[data-foreground-color="cyanaccentone"]{
  color: #84ffff   !important;
}
[data-background-color="cyanaccenttwo"] {
    background-color: #18ffff !important;
}
[data-foreground-color="cyanaccenttwo"]{
  color: #18ffff  !important;
}
[data-background-color="cyanaccentthree"] {
    background-color:#00e5ff !important;
}
[data-foreground-color="cyanaccentthree"]{
  color: #00e5ff !important;
}
[data-background-color="cyanaccentfour"] {
    background-color: #00b8d4 !important;
}
[data-foreground-color="cyanaccentfour"]{
  color: #00b8d4   !important;
}

/* teals */
[data-background-color="teallightenfive"] {
    background-color: #e0f2f1 !important;
}
[data-foregroung-color="teallightentfive"]{
  color:#e0f2f1 !important;
}
[data-background-color="teallightenfour"] {
    background-color:#b2dfdb  !important;
}
[data-foreground-color="teallightenfour"]{
  color: #b2dfdb !important;
}
[data-background-color="teallightenthree"] {
    background-color:#80cbc4  !important;
}
[data-foreground-color="teallightenthree"]{
  color:  #80cbc4   !important;
}
[data-background-color="teallightentwo"] {
    background-color: #4db6ac  !important;
}
[data-foreground-color="teallightentwo"]{
  color: #4db6ac !important;
}
[data-background-color="teallightenone"] {
    background-color:#26a69a !important;
}
[data-foreground-color="teallightenone"]{
  color: #26a69a !important;
}
[data-background-color="tealbase"] {
    background-color: #009688 !important;
}
[data-foreground-color="tealbase"]{
  color: #009688 !important;
}
[data-background-color="tealdarkenone"] {
    background-color: #00897b  !important;
}
[data-foreground-color="tealdarkenone"]{
  color: #00897b !important;
}
[data-background-color="tealdarkentwo"] {
    background-color: #00796b  !important;
}
[data-foreground-color="tealdarkentwo"]{
  color: #00796b !important;
}
[data-background-color="tealdarkenthree"] {
    background-color: #00695c   !important;
}
[data-foreground-color="tealdarkenthree"]{
  color:#00695c !important;
}
[data-background-color="tealdarkenfour"] {
    background-color: #004d40  !important;
}
[data-foreground-color="tealdarkenfour"]{
  color: #004d40 !important;
}
[data-background-color="tealaccentone"] {
    background-color:#a7ffeb   !important;
}
[data-foreground-color="tealaccentone"]{
  color: #a7ffeb   !important;
}
[data-background-color="tealaccenttwo"] {
    background-color: #64ffda  !important;
}
[data-foreground-color="tealaccenttwo"]{
  color: #64ffda   !important;
}
[data-background-color="tealaccentthree"] {
    background-color:#1de9b6 !important;
}
[data-foreground-color="tealaccentthree"]{
  color: #1de9b6 !important;
}
[data-background-color="tealaccentfour"] {
    background-color: #00bfa5  !important;
}
[data-foreground-color="tealaccentfour"]{
  color: #00bfa5   !important;
}


/* greens */
[data-background-color="greenlightenfive"] {
    background-color: #e8f5e9 !important;
}
[data-foregroung-color="greenlightentfive"]{
  color:#e8f5e9 !important;
}
[data-background-color="greenlightenfour"] {
    background-color:#c8e6c9  !important;
}
[data-foreground-color="greenlightenfour"]{
  color:#c8e6c9 !important;
}
[data-background-color="greenlightenthree"] {
    background-color:#a5d6a7  !important;
}
[data-foreground-color="greenlightenthree"]{
  color:  #a5d6a7   !important;
}
[data-background-color="greenlightentwo"] {
    background-color: #81c784   !important;
}
[data-foreground-color="greenlightentwo"]{
  color: #4db6ac !important;
}
[data-background-color="greenlightenone"] {
    background-color:#66bb6a  !important;
}
[data-foreground-color="greenlightenone"]{
  color: #66bb6a  !important;
}
[data-background-color="greenbase"] {
    background-color: #4caf50 !important;
}
[data-foreground-color="greenbase"]{
  color: #4caf50 !important;
}
[data-background-color="greendarkenone"] {
    background-color: #43a047   !important;
}
[data-foreground-color="greendarkenone"]{
  color: #43a047  !important;
}
[data-background-color="greendarkentwo"] {
    background-color: #388e3c  !important;
}
[data-foreground-color="greendarkentwo"]{
  color: #388e3c !important;
}
[data-background-color="greendarkenthree"] {
    background-color: #2e7d32    !important;
}
[data-foreground-color="greendarkenthree"]{
  color:#2e7d32   !important;
}
[data-background-color="greendarkenfour"] {
    background-color: #1b5e20  !important;
}
[data-foreground-color="greendarkenfour"]{
  color: #1b5e20 !important;
}
[data-background-color="greenaccentone"] {
    background-color:#b9f6ca   !important;
}
[data-foreground-color="greenaccentone"]{
  color: #b9f6ca   !important;
}
[data-background-color="greenaccenttwo"] {
    background-color: #69f0ae  !important;
}
[data-foreground-color="greenaccenttwo"]{
  color: #69f0ae   !important;
}
[data-background-color="greenaccentthree"] {
    background-color:#00e676 !important;
}
[data-foreground-color="greenaccentthree"]{
  color: #00e676 !important;
}
[data-background-color="greenaccentfour"] {
    background-color: #00c853  !important;
}
[data-foreground-color="greenaccentfour"]{
  color: #00c853   !important;
}


/* light greens */
[data-background-color="lightgreenlightenfive"] {
    background-color: #f1f8e9 !important;
}
[data-foregroung-color="lightgreenlightentfive"]{
  color:#f1f8e9 !important;
}
[data-background-color="lightgreenlightenfour"] {
    background-color:#dcedc8  !important;
}
[data-foreground-color="lightgreenlightenfour"]{
  color:#dcedc8 !important;
}
[data-background-color="lightgreenlightenthree"] {
    background-color:#c5e1a5  !important;
}
[data-foreground-color="lightgreenlightenthree"]{
  color:  #c5e1a5   !important;
}
[data-background-color="lightgreenlightentwo"] {
    background-color: #aed581    !important;
}
[data-foreground-color="lightgreenlightentwo"]{
  color: #aed581  !important;
}
[data-background-color="lightgreenlightenone"] {
    background-color:#9ccc65  !important;
}
[data-foreground-color="lightgreenlightenone"]{
  color: #9ccc65  !important;
}
[data-background-color="lightgreenbase"] {
    background-color: #8bc34a  !important;
}
[data-foreground-color="lightgreenbase"]{
  color: #8bc34a  !important;
}
[data-background-color="lightgreendarkenone"] {
    background-color: #7cb342    !important;
}
[data-foreground-color="lightgreendarkenone"]{
  color: #7cb342   !important;
}
[data-background-color="lightgreendarkentwo"] {
    background-color: #689f38  !important;
}
[data-foreground-color="lightgreendarkentwo"]{
  color: #689f38 !important;
}
[data-background-color="lightgreendarkenthree"] {
    background-color: #558b2f    !important;
}
[data-foreground-color="lightgreendarkenthree"]{
  color:#558b2f   !important;
}
[data-background-color="lightgreendarkenfour"] {
    background-color: #33691e !important;
}
[data-foreground-color="lightgreendarkenfour"]{
  color: #33691e !important;
}
[data-background-color="lightgreenaccentone"] {
    background-color:#ccff90   !important;
}
[data-foreground-color="lightgreenaccentone"]{
  color: #ccff90   !important;
}
[data-background-color="lightgreenaccenttwo"] {
    background-color: #b2ff59  !important;
}
[data-foreground-color="lightgreenaccenttwo"]{
  color: #b2ff59   !important;
}
[data-background-color="lightgreenaccentthree"] {
    background-color:#76ff03 !important;
}
[data-foreground-color="lightgreenaccentthree"]{
  color: #76ff03 !important;
}
[data-background-color="lightgreenaccentfour"] {
    background-color: #64dd17   !important;
}
[data-foreground-color="lightgreenaccentfour"]{
  color: #64dd17    !important;
}

/* limes */
[data-background-color="limelightenfive"] {
    background-color: #f9fbe7  !important;
}
[data-foregroung-color="limelightentfive"]{
  color:#f9fbe7  !important;
}
[data-background-color="limelightenfour"] {
    background-color:#f0f4c3  !important;
}
[data-foreground-color="limelightenfour"]{
  color:#f0f4c3 !important;
}
[data-background-color="limelightenthree"] {
    background-color:#e6ee9c !important;
}
[data-foreground-color="limelightenthree"]{
  color:  #e6ee9c  !important;
}
[data-background-color="limelightentwo"] {
    background-color: #dce775    !important;
}
[data-foreground-color="limelightentwo"]{
  color: #dce775  !important;
}
[data-background-color="limelightenone"] {
    background-color:#d4e157   !important;
}
[data-foreground-color="limelightenone"]{
  color: #d4e157   !important;
}
[data-background-color="limebase"] {
    background-color: #cddc39  !important;
}
[data-foreground-color="limebase"]{
  color: #cddc39  !important;
}
[data-background-color="limedarkenone"] {
    background-color: #c0ca33     !important;
}
[data-foreground-color="limedarkenone"]{
  color: #c0ca33    !important;
}
[data-background-color="limedarkentwo"] {
    background-color: #afb42b  !important;
}
[data-foreground-color="limedarkentwo"]{
  color: #afb42b !important;
}
[data-background-color="limedarkenthree"] {
    background-color: #9e9d24    !important;
}
[data-foreground-color="limedarkenthree"]{
  color:#9e9d24   !important;
}
[data-background-color="limedarkenfour"] {
    background-color: #827717 !important;
}
[data-foreground-color="limedarkenfour"]{
  color: #827717  !important;
}
[data-background-color="limeaccentone"] {
    background-color:#f4ff81  !important;
}
[data-foreground-color="limeaccentone"]{
  color: #f4ff81 !important;
}
[data-background-color="limeaccenttwo"] {
    background-color: #eeff41  !important;
}
[data-foreground-color="limeaccenttwo"]{
  color: #eeff41    !important;
}
[data-background-color="limeaccentthree"] {
    background-color:#c6ff00  !important;
}
[data-foreground-color="limeaccentthree"]{
  color: #c6ff00  !important;
}
[data-background-color="limeaccentfour"] {
    background-color: #aeea00    !important;
}
[data-foreground-color="limeaccentfour"]{
  color: #aeea00    !important;
}


/* yellows */
[data-background-color="yellowlightenfive"] {
    background-color:#fffde7   !important;
}
[data-foregroung-color="yellowlightentfive"]{
  color:#fffde7  !important;
}
[data-background-color="yellowlightenfour"] {
    background-color:#fff9c4  !important;
}
[data-foreground-color="yellowlightenfour"]{
  color:#fff9c4 !important;
}
[data-background-color="yellowlightenthree"] {
    background-color:#fff59d  !important;
}
[data-foreground-color="yellowlightenthree"]{
  color:  #fff59d  !important;
}
[data-background-color="yellowlightentwo"] {
    background-color:#fff176  !important;
}
[data-foreground-color="yellowlightentwo"]{
  color:#fff176  !important;
}
[data-background-color="yellowlightenone"] {
    background-color:#ffee58   !important;
}
[data-foreground-color="yellowlightenone"]{
  color: #ffee58   !important;
}
[data-background-color="yellowbase"] {
    background-color: #ffeb3b !important;
}
[data-foreground-color="yellowbase"]{
  color: #ffeb3b  !important;
}
[data-background-color="yellowdarkenone"] {
    background-color: #fdd835    !important;
}
[data-foreground-color="yellowdarkenone"]{
  color: #fdd835    !important;
}
[data-background-color="yellowdarkentwo"] {
    background-color: #fbc02d !important;
}
[data-foreground-color="yellowdarkentwo"]{
  color: #fbc02d !important;
}
[data-background-color="yellowdarkenthree"] {
    background-color: #f9a825    !important;
}
[data-foreground-color="yellowdarkenthree"]{
  color:#f9a825   !important;
}
[data-background-color="yellowdarkenfour"] {
    background-color: #f57f17 !important;
}
[data-foreground-color="yellowdarkenfour"]{
  color: #f57f17  !important;
}
[data-background-color="yellowaccentone"] {
    background-color:#ffff8d  !important;
}
[data-foreground-color="yellowaccentone"]{
  color: #ffff8d !important;
}
[data-background-color="yellowaccenttwo"] {
    background-color: #ffff00  !important;
}
[data-foreground-color="yellowaccenttwo"]{
  color: #ffff00    !important;
}
[data-background-color="yellowaccentthree"] {
    background-color:#ffea00  !important;
}
[data-foreground-color="yellowaccentthree"]{
  color: #ffea00  !important;
}
[data-background-color="yellowaccentfour"] {
    background-color: #ffd600  !important;
}
[data-foreground-color="yellowaccentfour"]{
  color: #ffd600    !important;
}

/* ambers */
[data-background-color="amberlightenfive"] {
    background-color:#fff8e1   !important;
}
[data-foregroung-color="amberlightentfive"]{
  color:#fff8e1 !important;
}
[data-background-color="amberlightenfour"] {
    background-color:#ffecb3  !important;
}
[data-foreground-color="amberlightenfour"]{
  color:#ffecb3 !important;
}
[data-background-color="amberlightenthree"] {
    background-color:#ffe082  !important;
}
[data-foreground-color="amberlightenthree"]{
  color: #ffe082  !important;
}
[data-background-color="amberlightentwo"] {
    background-color:#ffd54f   !important;
}
[data-foreground-color="amberlightentwo"]{
  color:#ffd54f   !important;
}
[data-background-color="amberlightenone"] {
    background-color:#ffca28   !important;
}
[data-foreground-color="amberlightenone"]{
  color: #ffca28  !important;
}
[data-background-color="amberbase"] {
    background-color: #ffc107  !important;
}
[data-foreground-color="amberbase"]{
  color: #ffc107   !important;
}
[data-background-color="amberdarkenone"] {
    background-color: #ffb300    !important;
}
[data-foreground-color="amberdarkenone"]{
  color: #ffb300    !important;
}
[data-background-color="amberdarkentwo"] {
    background-color: #ffa000 !important;
}
[data-foreground-color="amberdarkentwo"]{
  color: #ffa000 !important;
}
[data-background-color="amberdarkenthree"] {
    background-color: #ff8f00   !important;
}
[data-foreground-color="amberdarkenthree"]{
  color:#ff8f00   !important;
}
[data-background-color="amberdarkenfour"] {
    background-color: #ff6f00 !important;
}
[data-foreground-color="amberdarkenfour"]{
  color: #ff6f00  !important;
}
[data-background-color="amberaccentone"] {
    background-color:#ffe57f !important;
}
[data-foreground-color="amberaccentone"]{
  color: #ffe57f !important;
}
[data-background-color="amberaccenttwo"] {
    background-color: #ffd740  !important;
}
[data-foreground-color="amberaccenttwo"]{
  color: #ffd740    !important;
}
[data-background-color="amberaccentthree"] {
    background-color:#ffc400 !important;
}
[data-foreground-color="amberaccentthree"]{
  color: #ffc400  !important;
}
[data-background-color="amberaccentfour"] {
    background-color: #ffab00  !important;
}
[data-foreground-color="amberaccentfour"]{
  color:#ffab00   !important;
}

/* oranges */
[data-background-color="orangelightenfive"] {
    background-color:#fff3e0   !important;
}
[data-foregroung-color="orangelightentfive"]{
  color:#fff3e0 !important;
}
[data-background-color="orangelightenfour"] {
    background-color:#ffe0b2  !important;
}
[data-foreground-color="orangelightenfour"]{
  color:#ffe0b2 !important;
}
[data-background-color="orangelightenthree"] {
    background-color:#ffcc80  !important;
}
[data-foreground-color="orangelightenthree"]{
  color:#ffcc80  !important;
}
[data-background-color="orangelightentwo"] {
    background-color:#ffb74d   !important;
}
[data-foreground-color="orangelightentwo"]{
  color:#ffb74d   !important;
}
[data-background-color="orangelightenone"] {
    background-color:#ffa726   !important;
}
[data-foreground-color="orangelightenone"]{
  color: #ffa726  !important;
}
[data-background-color="orangebase"] {
    background-color: #ff9800 !important;
}
[data-foreground-color="orangebase"]{
  color: #ff9800   !important;
}
[data-background-color="orangedarkenone"] {
    background-color: #fb8c00   !important;
}
[data-foreground-color="orangedarkenone"]{
  color: #fb8c00   !important;
}
[data-background-color="orangedarkentwo"] {
    background-color: #f57c00 !important;
}
[data-foreground-color="orangedarkentwo"]{
  color: #f57c00 !important;
}
[data-background-color="orangedarkenthree"] {
    background-color: #ef6c00  !important;
}
[data-foreground-color="orangedarkenthree"]{
  color:#ef6c00   !important;
}
[data-background-color="orangedarkenfour"] {
    background-color: #e65100 !important;
}
[data-foreground-color="orangedarkenfour"]{
  color: #e65100  !important;
}
[data-background-color="orangeaccentone"] {
    background-color: #ffd180  !important;
}
[data-foreground-color="orangeaccentone"]{
  color: #ffd180  !important;
}
[data-background-color="orangeaccenttwo"] {
    background-color: #ffab40  !important;
}
[data-foreground-color="orangeaccenttwo"]{
  color: #ffab40   !important;
}
[data-background-color="orangeaccentthree"] {
    background-color:#ff9100 !important;
}
[data-foreground-color="orangeaccentthree"]{
  color: #ff9100  !important;
}
[data-background-color="orangeaccentfour"] {
    background-color: #ff6d00   !important;
}
[data-foreground-color="orangeaccentfour"]{
  color:#ff6d00    !important;
}

/* deep oranges */
[data-background-color="deeporangelightenfive"] {
    background-color:#fbe9e7   !important;
}
[data-foregroung-color="deeporangelightentfive"]{
  color:#fbe9e7 !important;
}
[data-background-color="deeporangelightenfour"] {
    background-color:#ffccbc  !important;
}
[data-foreground-color="deeporangelightenfour"]{
  color:#ffccbc !important;
}
[data-background-color="deeporangelightenthree"] {
    background-color:#ffab91 !important;
}
[data-foreground-color="deeporangelightenthree"]{
  color:#ffab91  !important;
}
[data-background-color="deeporangelightentwo"] {
    background-color:#ff8a65  !important;
}
[data-foreground-color="deeporangelightentwo"]{
  color:#ff8a65  !important;
}
[data-background-color="deeporangelightenone"] {
    background-color:#ff7043  !important;
}
[data-foreground-color="deeporangelightenone"]{
  color:#ff7043  !important;
}
[data-background-color="deeporangebase"] {
    background-color: #ff5722 !important;
}
[data-foreground-color="deeporangebase"]{
  color: #ff5722  !important;
}
[data-background-color="deeporangedarkenone"] {
    background-color: #f4511e   !important;
}
[data-foreground-color="deeporangedarkenone"]{
  color: #f4511e   !important;
}
[data-background-color="deeporangedarkentwo"] {
    background-color: #e64a19 !important;
}
[data-foreground-color="deeporangedarkentwo"]{
  color: #e64a19 !important;
}
[data-background-color="deeporangedarkenthree"] {
    background-color: #d84315  !important;
}
[data-foreground-color="deeporangedarkenthree"]{
  color:#d84315    !important;
}
[data-background-color="deeporangedarkenfour"] {
    background-color: #bf360c !important;
}
[data-foreground-color="deeporangedarkenfour"]{
  color: #bf360c !important;
}
[data-background-color="deeporangeaccentone"] {
    background-color: #ff9e80   !important;
}
[data-foreground-color="deeporangeaccentone"]{
  color: #ff9e80  !important;
}
[data-background-color="deeporangeaccenttwo"] {
    background-color: #ff6e40  !important;
}
[data-foreground-color="deeporangeaccenttwo"]{
  color: #ff6e40   !important;
}
[data-background-color="deeporangeaccentthree"] {
    background-color:#ff3d00 !important;
}
[data-foreground-color="deeporangeaccentthree"]{
  color: #ff3d00  !important;
}
[data-background-color="deeporangeaccentfour"] {
    background-color: #dd2c00    !important;
}
[data-foreground-color="deeporangeaccentfour"]{
  color:#dd2c00    !important;
}


/* browns */
[data-background-color="brownlightenfive"] {
    background-color:#efebe9  !important;
}
[data-foregroung-color="brownlightentfive"]{
  color:#efebe9 !important;
}
[data-background-color="brownlightenfour"] {
    background-color:#d7ccc8   !important;
}
[data-foreground-color="brownlightenfour"]{
  color:#d7ccc8  !important;
}
[data-background-color="brownlightenthree"] {
    background-color:#bcaaa4 !important;
}
[data-foreground-color="brownlightenthree"]{
  color:#bcaaa4  !important;
}
[data-background-color="brownlightentwo"] {
    background-color:#a1887f  !important;
}
[data-foreground-color="brownlightentwo"]{
  color:#a1887f  !important;
}
[data-background-color="brownlightenone"] {
    background-color:#8d6e63 !important;
}
[data-foreground-color="brownlightenone"]{
  color:#8d6e63 !important;
}
[data-background-color="brownbase"] {
    background-color: #795548 !important;
}
[data-foreground-color="brownbase"]{
  color: #795548  !important;
}
[data-background-color="browndarkenone"] {
    background-color: #6d4c41   !important;
}
[data-foreground-color="browndarkenone"]{
  color: #6d4c41   !important;
}
[data-background-color="browndarkentwo"] {
    background-color: #5d4037  !important;
}
[data-foreground-color="browndarkentwo"]{
  color:#5d4037  !important;
}
[data-background-color="browndarkenthree"] {
    background-color: #4e342e   !important;
}
[data-foreground-color="browndarkenthree"]{
  color:#4e342e    !important;
}
[data-background-color="browndarkenfour"] {
    background-color: #3e2723 !important;
}
[data-foreground-color="browndarkenfour"]{
  color: #3e2723 !important;
}

/* greys */
[data-background-color="greylightenfive"] {
    background-color:#fafafa   !important;
}
[data-foregroung-color="greylightentfive"]{
  color:#fafafa  !important;
}
[data-background-color="greylightenfour"] {
    background-color:#f5f5f5   !important;
}
[data-foreground-color="greylightenfour"]{
  color:#f5f5f5 !important;
}
[data-background-color="greylightenthree"] {
    background-color:#eeeeee  !important;
}
[data-foreground-color="greylightenthree"]{
  color:#eeeeee  !important;
}
[data-background-color="greylightentwo"] {
    background-color:#e0e0e0  !important;
}
[data-foreground-color="greylightentwo"]{
  color:#e0e0e0 !important;
}
[data-background-color="greylightenone"] {
    background-color:#bdbdbd !important;
}
[data-foreground-color="greylightenone"]{
  color:#bdbdbd !important;
}
[data-background-color="greybase"] {
    background-color: #9e9e9e !important;
}
[data-foreground-color="greybase"]{
  color: #9e9e9e !important;
}
[data-background-color="greydarkenone"] {
    background-color: #757575   !important;
}
[data-foreground-color="greydarkenone"]{
  color: #757575   !important;
}
[data-background-color="greydarkentwo"] {
    background-color: #616161  !important;
}
[data-foreground-color="greydarkentwo"]{
  color:#616161   !important;
}
[data-background-color="greydarkenthree"] {
    background-color: #424242   !important;
}
[data-foreground-color="greydarkenthree"]{
  color:#424242    !important;
}
[data-background-color="greydarkenfour"] {
    background-color: #212121  !important;
}
[data-foreground-color="greydarkenfour"]{
  color: #212121  !important;
}


/* blue greys */
[data-background-color="bluegreylightenfive"] {
    background-color:#eceff1    !important;
}
[data-foregroung-color="bluegreylightentfive"]{
  color:#eceff1   !important;
}
[data-background-color="bluegreylightenfour"] {
    background-color:#cfd8dc   !important;
}
[data-foreground-color="bluegreylightenfour"]{
  color:#cfd8dc !important;
}
[data-background-color="bluegreylightenthree"] {
    background-color:#b0bec5  !important;
}
[data-foreground-color="bluegreylightenthree"]{
  color:#b0bec5 !important;
}
[data-background-color="bluegreylightentwo"] {
    background-color:#90a4ae  !important;
}
[data-foreground-color="gbluereylightentwo"]{
  color:#90a4ae !important;
}
[data-background-color="bluegreylightenone"] {
    background-color:#78909c !important;
}
[data-foreground-color="bluegreylightenone"]{
  color:#78909c !important;
}
[data-background-color="bluegreybase"] {
    background-color: #607d8b !important;
}
[data-foreground-color="bluegreybase"]{
  color: #607d8b !important;
}
[data-background-color="bluegreydarkenone"] {
    background-color: #546e7a   !important;
}
[data-foreground-color="bluegreydarkenone"]{
  color: #546e7a   !important;
}
[data-background-color="bluegreydarkentwo"] {
    background-color: #455a64  !important;
}
[data-foreground-color="bluegreydarkentwo"]{
  color:#455a64   !important;
}
[data-background-color="bleugreydarkenthree"] {
    background-color: #37474f    !important;
}
[data-foreground-color="bluegreydarkenthree"]{
  color:#37474f    !important;
}
[data-background-color="bluegreydarkenfour"] {
    background-color: #263238  !important;
}
[data-foreground-color="bluegreydarkenfour"]{
  color: #263238  !important;
}

/* black */
[data-background-color="black"]{
  background-color: #000000 !important;
}
[data-foreground-color="black"]{
  color: #000000 !important;
}

/* white */
[data-background-color="white"]{
  background-color: #ffffff !important;
}
[data-foreground-color="white"]{
  color: #ffffff !important;
}

/* transparent */
[data-background-color="transparent"]{
  background-color: transparent !important;
}
[data-foreground-color="transparent"]{
  color: transparent !important;
}



.page-header {
    height: 100vh;
    max-height: 1050px;
    padding: 0;
    color: #FFFFFF;
    position: relative;
    background-position: center center;
    background-size: cover;
}

.page-header .page-header-image {
    position: absolute;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    z-index: -2;
}

.page-header.page-header-small {
    height: 60vh;
    max-height: 440px;
}

.page-header:after,
.page-header:before {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: "";
}

.page-header:before {
    background-color: rgba(0, 0, 0, 0.5);
}

.page-header footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.page-header .container {
    height: 100%;
    z-index: -1;
    text-align: center;
    position: relative;
}

.page-header[filter-color="indigo"] {

    background: -webkit-linear-gradient(90deg, rgba(44, 44, 44, 0.2), rgba(26, 35, 126, 0.8));
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(90deg, rgba(44, 44, 44, 0.2), rgba(26, 35, 126, 0.8));
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(90deg, rgba(44, 44, 44, 0.2), rgba(26, 35, 126, 0.8));
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(0deg, rgba(44, 44, 44, 0.2), rgba(26, 35, 126, 0.8));
    /* Standard syntax */
}

.page-header .container {
    z-index: 2;
}

.page-header .container>.content-center {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 15px;
    color: #FFFFFF;
    width: 100%;
    max-width: 880px;
}

.page-header .category,
.page-header .description {
    color: rgba(255, 255, 255, 0.5);
}

.description p,
p.description {
    font-size: 1.14em;
}

.title {
    font-weight: 700;
}







.clear-filter:after,
.clear-filter:before {
    display: none;
}
.parallax{
  scroll-behavior: smooth;
}

.navbar.navbar-transparent {
    background-color: transparent !important;
    box-shadow: none;
    color: #FFFFFF;
    padding-top: 20px;
}
