/*   Fred Grott

     0.0.1

     0 iphone-x notch adjustment
     1 font assignments
*/

/* 0 iphone-x notch adjustment */
@supports(padding: max(0px)){
   body{
     padding: env(safe-area-insert-top) env(safe-area-insert-right) env(safe-area-insert-left) env(safe-insert-bottom);
   }
}
/* 1 font assignments */
body{
  font-family: 'Roboto Condensed', sans-serif;
  animation-name: toBlack;
  animation-duration: 16s;
  animation-fill-mode: forwards;
  font-size: 2.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
p{
  animation-name: toRed;
  animation-duration: 17s;
  animation-fill-mode: forwards;
}

a.angalelist{
  animation-duration: 3s;
  animation-delay: 2s;
}

a.behance{
  animation-duration: 3s;
  animation-delay: 2s;

}
a.deviantart{
  animation-duration: 3s;
  animation-delay: 4s;
}
a.dribbble{
  animation-duration: 3s;
  animation-delay: 6s;
}
a.github{
  animation-duration: 3s;
  animation-delay: 8s;
}
a.googleplus{
  animation-duration: 3s;
  animation-delay: 10s;
}
a.hackernews{
  animation-duration: 3s;
  animation-delay: 12s;
}
a.keybase{
  animation-duration: 3s;
  animation-delay: 12s;
}
a.medium{
  animation-duration: 3s;
  animation-delay: 14s;
}
a.producthunt{
  animation-duration: 3s;
  animation-delay: 14s;
}
a.quora{
  animation-duration: 3s;
  animation-delay: 14s;
}
a.reddit{
  animation-duration: 3s;
  animation-delay: 14s;
}
a.stackoverflow{
  animation-duration: 3s;
  animation-delay: 16s;
}
a.themeforest{
  animation-duration: 3s;
  animation-delay: 18s;
}
a.twitter{
  animation-duration: 3s;
  animation-delay: 20s;
}


@keyframes toBlack {
  0% {
    background-color: #f9f6ea;
  }
  60% {
    background-color: #f9f6ea;
  }
  100% {
    background-color: black;
  }
}
@keyframes toRed {
  0% {
    color: black;
  }
  50% {
    color: black;
  }
  100% {
    color: red;
  }
}
